.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
}

.content {
    color: var(--blue_gray-100);
    width: 50%;
    height: 80%;
}

.content h2, .content h3 {
    text-shadow: 3px 3px 5px var(--aqua-900);
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
    }

    .content {
        width: 80%;
        height: 60%;
    }
}