.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    /* border: 2px solid hotpink; */
    align-self: center;
    gap: 20px;
}
  
  .introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: calc(1vh + 1vw);
    max-width: 30%;
  }
  
  .introduction h1 {
    text-shadow: 
      0px 0px 5px white,
      0px 0px 15px white,
      0px 0px 25px hotpink,
      0px 0px 35px hotpink;
    font-size: calc(1.5em + 2vw + 2vh);
    text-align: center;
    font-family: 'Sacramento';
    margin: 0;
    font-weight: normal;
  }
  
  .introduction p{
    text-wrap: wrap;
    width: 100%;
    text-align: center;
    font-size: calc(0.5em + 0.4vw + 0.4vh);
  }
  
  h1 {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  @media (orientation: portrait) {
    .container{
      flex-direction: column;
      justify-content: center;
    }
    
    .introduction{
      max-width: 100%;
    }
  }