.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    /* border: 2px solid hotpink; */
    align-self: center;
    gap: 20px;
}
  
  .introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(1vh + 1vw);
    max-width: 30%;
  }
  
  .introduction h1 {
    background: linear-gradient(45deg, var(--aqua-200), var(--violet-200));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(1.5em + 2vw + 2vh);
    text-align: center;
    align-self: center;
    filter: drop-shadow(5px 5px 5px var(--blue_gray-700));
    font-family: 'Sacramento';
    margin: 0;
    font-weight: bold;
    width: fit-content;
  }
  
  .introduction p{
    text-wrap: wrap;
    width: 100%;
    text-align: center;
    font-size: calc(0.5em + 0.4vw + 0.4vh);
    color: var(--blue_gray-100);
  }
  
  h1 {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  @media (orientation: portrait) {
    .container{
      flex-direction: column;
      justify-content: center;
    }
    
    .introduction{
      max-width: 100%;
    }
  }