.imageWrap {
    background: lightseagreen;
    align-self: center;
  }

  .isRound {
    box-shadow: 5px 5px 20px var(--violet-900);
  }

  .isRound, .isRound img {
    border-radius: 50%;
  }

  .imageWrap img {
    object-fit: cover;
  }