.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10%;
    color: var(--blue_gray-100);
    overflow-y: hidden;
}

.content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(1vh + 1vw);
    height: 80%;
}

.content h1 {
    width: 100%;
    margin: 0;
    text-align: center; 
    background: linear-gradient(45deg, var(--violet-200), var(--aqua-200));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 5px var(--aqua-900));
}

.content p, .wrapper p {
    text-wrap: wrap;
    font-size: calc(0.5em + 0.4vw + 0.4vh);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1vw + 1vh);
    overflow-y: auto;
    padding: 5px;
}

.form button {
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, var(--violet-200), var(--aqua-200));
    color: var(--blue_gray-800);
    cursor: pointer;
    font-size: calc(0.4em + 0.8vw + 0.8vh);
    padding: 5px;
}

.form button:hover {
    background: linear-gradient(45deg, var(--violet-300), var(--aqua-300));
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.contactInfo p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    display: none;
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
        align-self: center;
        gap: 2%;
        height: 95%;
    }
    .content {
        width: 60%;
        height: 50%;
        align-self: center;
        overflow-x: scroll;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }  
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: transparent;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .line {
        margin: 0;
        display: inline;
        height: 3px;
        border: transparent;
        background: linear-gradient(45deg, var(--violet-400), var(--aqua-400));
        width: 50%;
    }
}