.slideshow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    color: var(--blue_gray-100);
    cursor: pointer;
}

.slideshow p{
    font-size: small;
    margin: 0;
}

@media (orientation: portrait) {
    .slideshow {
        flex-direction: column-reverse;
        gap: 5px;
    }
    
}