.container {
  /* background: radial-gradient(#714e7c, #302034); */
  background: linear-gradient(45deg, var(--violet-700), var(--aqua-700));
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  width: 100%;
  overflow-y: hidden;
  display: flex;
}
