.container {
  background: radial-gradient(#714e7c, #302034);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
}

.btnBox {
  width: fit-content;
  align-items: center;
  display: flex;
  gap: calc(1vh + 1vw);
  padding-right: calc(1vh + 1vw);
}

.btnBox a, select{
  width: fit-content;
  height: fit-content;
  font-size: calc(0.4em + 0.8vw + 0.8vh);
  border: none;
  background-color: transparent;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

.btnBox a:hover, .langSwitch label:hover {
  text-shadow: 
    0px 0px 5px white,
    0px 0px 15px white,
    0px 0px 25px hotpink,
    0px 0px 35px hotpink;
}

option {
  background-color: #302034;
}

.navbar, footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.logo a{
  margin: 0;
  padding-left: calc(1vh + 1vw);
  font-family: 'Sacramento';
  color: white;
  text-shadow: 
    0px 0px 5px white,
    0px 0px 15px white,
    0px 0px 25px hotpink,
    0px 0px 35px hotpink;
  font-size: calc(10px + 1vw + 1vh);
  text-decoration: none;
}