.projects {
    color: var(--blue_gray-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

.projects ul {
    width: fit-content;
    height: 100%;
    padding: 0;
}

.scrollable {
    display: flex;
    justify-content: start; 
    gap: 50px;
    padding-inline: 20px;
    padding-top: 30px;
    width: calc(95vw - 40px);
}

.scrollable li {
    list-style: none;
}

@media (orientation: portrait) {
    .projects {
        height: 100%;
        align-items: center;
        width: 100%;
    }
    
    .projects h1 {
        padding-top: 10px;
    }

    .projects ul {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .scrollable {
        width: 100%;
        height: 75vh;
        flex-flow: row wrap;
        justify-content: center;
        touch-action: cross-slide-y;
    }
}