.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10%;
    color: var(--blue_gray-100);
    overflow-y: hidden;
}

.content {
    width: 40%;
    overflow-y: auto;
    max-height: 90%;
}

.content p, .wrapper p {
    text-wrap: wrap;
    font-size: calc(0.5em + 0.4vw + 0.4vh);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1vw + 1vh);
    padding: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.contactInfo p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.2);
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }
    .content, .wrapper {
        width: 85%;
        align-items: center;
        justify-content: center;
    }

    .content {
        overflow-y: scroll;
        height: 45vh;
    }

    .wrapper {
        overflow-y: auto;
        height: 35vh;
    }

    .intro p{
        width: 80%;
        margin-inline: 10%;
    }
    .line {
        margin: 0;
        display: inline;
        height: 3px;
        border: transparent;
        background: linear-gradient(45deg, var(--violet-400), var(--aqua-400));
        width: 85%;
    }
}