/* [project]/components/Title/title.module.css [app-client] (css) */
.title-module__Qjx9Ca__title {
  width: 100%;
  margin: 0;
  text-align: center;
  background: linear-gradient(45deg, var(--violet-200), var(--aqua-200));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 3px 5px var(--aqua-900));
}


/* [project]/app/projects/[projectId]/page.module.css [app-client] (css) */
.page-module__2xkk3G__container {
  display: flex;
  color: var(--blue_gray-100);
  align-items: center;
}

.page-module__2xkk3G__demo, .page-module__2xkk3G__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px;
  align-items: center;
  height: 100%;
}

.page-module__2xkk3G__info {
  max-width: 500px;
}

.page-module__2xkk3G__paragraph {
  height: 60%;
  width: 100%;
}

.page-module__2xkk3G__paragraph p {
  margin: 0;
}

.page-module__2xkk3G__info ul {
  justify-content: center !important;
}

.page-module__2xkk3G__backLink {
  background-color: #0000;
  color: var(--blue_gray-100);
  text-decoration: none;
  margin-block: 0;
  cursor: pointer;
  position: relative;
  top: -20px;
  left: -50px;
}

.page-module__2xkk3G__backLink:hover {
  text-decoration: underline var(--orange-cta);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.page-module__2xkk3G__links {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.page-module__2xkk3G__links a {
  color: var(--blue_gray-100);
  text-decoration: none;
  margin-block: 0;
  cursor: pointer;
  text-decoration: underline var(--orange-cta);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}


/* [project]/components/ImageWrapper/ImageWrapper.module.css [app-client] (css) */
.ImageWrapper-module__Limqsa__imageWrap {
  background: #20b2aa;
  align-self: center;
}

.ImageWrapper-module__Limqsa__isRound {
  box-shadow: 5px 5px 20px var(--violet-900);
}

.ImageWrapper-module__Limqsa__isRound, .ImageWrapper-module__Limqsa__isRound img {
  border-radius: 50%;
}

.ImageWrapper-module__Limqsa__imageWrap img {
  object-fit: cover;
}


/* [project]/components/Technologies/technologies.module.css [app-client] (css) */
.technologies-module__a6s4fq__span {
  display: flex;
  width: 100%;
}

.technologies-module__a6s4fq__span ul {
  display: flex;
  justify-content: start;
  list-style: none;
  width: 100%;
  padding: 0;
  gap: 5%;
}

.technologies-module__a6s4fq__span ul li {
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid var(--blue_gray-100);
  border-radius: 5px;
  padding: 3px;
}


/* [project]/components/Scrollable/scrollable.module.css [app-client] (css) */
.scrollable-module__hiIgJq__container {
  scrollbar-gutter: stable;
  overflow: hidden;
}

.scrollable-module__hiIgJq__y:hover {
  overflow-y: auto;
}

.scrollable-module__hiIgJq__x:hover {
  overflow-x: auto;
}

.scrollable-module__hiIgJq__portraitY:hover {
  overflow-y: auto;
}

.scrollable-module__hiIgJq__portraitX:hover {
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: #0000;
  background-color: #fff3;
}

@media (orientation: portrait) {
  .scrollable-module__hiIgJq__y:hover {
    overflow-y: auto;
  }

  .scrollable-module__hiIgJq__x:hover {
    overflow-x: auto;
  }

  .scrollable-module__hiIgJq__portraitY:hover {
    overflow-y: auto;
  }

  .scrollable-module__hiIgJq__portraitX:hover {
    overflow-x: auto;
  }
}


/*# sourceMappingURL=_fe160379._.css.map*/
