/* [project]/src/components/Title/title.module.css [app-client] (css) */
.title-module__9EsE3G__title {
  text-align: center;
  background: linear-gradient(45deg, var(--violet-200), var(--aqua-200));
  -webkit-text-fill-color: transparent;
  width: 100%;
  filter: drop-shadow(3px 3px 5px var(--aqua-900));
  background-clip: text;
  margin: 0;
}


/* [project]/src/app/projects/[projectId]/page.module.css [app-client] (css) */
.page-module__QLFHmG__container {
  color: var(--blue_gray-100);
  align-items: center;
  gap: 5%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.page-module__QLFHmG__demo, .page-module__QLFHmG__info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: 20px;
  display: flex;
}

.page-module__QLFHmG__demo {
  gap: 30px;
  width: 30vw;
  max-width: 400px;
}

.page-module__QLFHmG__imageWrap {
  align-items: center;
  width: 100%;
  height: 80%;
  display: flex;
}

.page-module__QLFHmG__info {
  width: 50vw;
  max-width: 700px;
}

.page-module__QLFHmG__paragraph {
  width: 100%;
  height: 60%;
}

.page-module__QLFHmG__paragraph pre {
  text-wrap: wrap;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

.page-module__QLFHmG__info ul {
  justify-content: center !important;
}

.page-module__QLFHmG__links {
  gap: 20px;
  margin-top: 20px;
  display: flex;
}

@media (orientation: portrait) {
  .page-module__QLFHmG__container {
    flex-direction: column;
    flex-basis: 90vw;
    justify-content: start;
    gap: 0;
    height: calc(100% - 40px);
    margin-block: 20px;
    overflow-y: auto;
  }

  .page-module__QLFHmG__demo, .page-module__QLFHmG__info {
    width: 70vw;
  }

  .page-module__QLFHmG__demo {
    flex-direction: column-reverse;
    max-width: none;
    height: fit-content;
  }

  .page-module__QLFHmG__imageWrap {
    width: 100%;
    height: 70vw;
  }

  .page-module__QLFHmG__info {
    height: fit-content;
  }

  .page-module__QLFHmG__paragraph {
    height: fit-content;
    overflow: hidden !important;
  }
}


/* [project]/src/components/Technologies/technologies.module.css [app-client] (css) */
.technologies-module__wS5OfW__technologies {
  width: 100%;
  display: flex;
}

.technologies-module__wS5OfW__technologies ul {
  justify-content: start;
  gap: 5%;
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
}

.technologies-module__wS5OfW__technologies ul li {
  text-transform: uppercase;
  border: 1px solid var(--blue_gray-100);
  text-wrap: nowrap;
  border-radius: 5px;
  padding: 3px;
  font-size: 10px;
}


/* [project]/src/components/Scrollable/scrollable.module.css [app-client] (css) */
.scrollable-module__V-3v8W__container {
  scrollbar-gutter: stable;
  overflow: hidden;
}

.scrollable-module__V-3v8W__y:hover {
  overflow-y: auto;
}

.scrollable-module__V-3v8W__x:hover {
  overflow-x: auto;
}

.scrollable-module__V-3v8W__portraitY:hover {
  overflow-y: auto;
}

.scrollable-module__V-3v8W__portraitX:hover {
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff3;
  border: #0000;
  border-radius: 10px;
}

.scrollable-module__V-3v8W__small::-webkit-scrollbar {
  height: 5px;
}

@media (orientation: portrait) {
  .scrollable-module__V-3v8W__y {
    overflow-y: auto;
  }

  .scrollable-module__V-3v8W__x {
    overflow-x: auto;
  }

  .scrollable-module__V-3v8W__portraitY {
    overflow-y: auto;
  }

  .scrollable-module__V-3v8W__portraitX {
    overflow-x: auto;
  }
}


/* [project]/src/components/Button/button.module.css [app-client] (css) */
.button-module__OJPZRa__btn {
  background-color: var(--orange-cta);
  color: var(--blue_gray-800);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1em;
  text-decoration: none;
}

.button-module__OJPZRa__animatingContainer {
  display: flex;
}


/* [project]/src/components/ImageWrapper/ImageWrapper.module.css [app-client] (css) */
.ImageWrapper-module__4Ijjwa__imageWrap {
  background: none;
  align-self: center;
}

.ImageWrapper-module__4Ijjwa__isRound {
  box-shadow: 5px 5px 20px var(--violet-900);
}

.ImageWrapper-module__4Ijjwa__isRound, .ImageWrapper-module__4Ijjwa__isRound img {
  border-radius: 50%;
}

.ImageWrapper-module__4Ijjwa__imageWrap img {
  object-fit: cover;
}


/* [project]/src/components/ImageSlideshow/image-slideshow.module.css [app-client] (css) */
.image-slideshow-module__7293dG__slideshow {
  width: 100%;
  color: var(--blue_gray-100);
  cursor: pointer;
  background-color: #0000;
  border: none;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.image-slideshow-module__7293dG__animatedImage {
  justify-content: center;
  width: 90%;
  height: 90%;
  display: flex;
}

.image-slideshow-module__7293dG__slideshow p {
  margin: 0;
  font-size: small;
}

@media (orientation: portrait) {
  .image-slideshow-module__7293dG__slideshow {
    flex-direction: column-reverse;
    gap: 5px;
  }
}


/* [project]/src/components/GalleryModal/gallery-modal.module.css [app-client] (css) */
.gallery-modal-module__J0GOFG__overlay {
  z-index: 1;
  background-color: #00000080;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-modal-module__J0GOFG__container {
  width: 70vw;
  height: 70vh;
  color: var(--blue_gray-100);
  background-color: #000c;
  padding-inline: 10px;
}

.gallery-modal-module__J0GOFG__row {
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding-top: 5px;
  display: flex;
}

.gallery-modal-module__J0GOFG__content {
  justify-content: space-between;
  align-items: center;
  height: 90%;
  display: flex;
}

.gallery-modal-module__J0GOFG__info {
  text-align: center;
  width: 50%;
}

.gallery-modal-module__J0GOFG__empty, .gallery-modal-module__J0GOFG__closeButton {
  width: 30px;
}

.gallery-modal-module__J0GOFG__container button {
  color: var(--blue_gray-100);
  cursor: pointer;
  background-color: #0000;
  border: none;
  font-size: 2rem;
}

.gallery-modal-module__J0GOFG__imageWrap {
  width: 25vw;
  max-height: 90%;
}


/* [project]/src/components/GoBackBtn/GoBackBtn.module.css [app-client] (css) */
.GoBackBtn-module__RnQx3a__backLink {
  color: var(--blue_gray-100);
  cursor: pointer;
  background-color: #0000;
  align-self: flex-start;
  margin-block: 0;
  text-decoration: none;
}

.GoBackBtn-module__RnQx3a__backLink p {
  margin: 0;
}

.GoBackBtn-module__RnQx3a__underline {
  background-color: var(--orange-cta);
  height: 3px;
}

@media (orientation: portrait) {
  .GoBackBtn-module__RnQx3a__backLink {
    top: 0;
  }
}


/*# sourceMappingURL=src_501181a7._.css.map*/