/* [project]/src/app/contact/page.module.css [app-client] (css) */
.page-module__OSLHOG__container {
  height: 100%;
  color: var(--blue_gray-100);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 10%;
  display: flex;
  overflow-y: hidden;
}

.page-module__OSLHOG__content {
  flex-direction: column;
  justify-content: center;
  gap: calc(1vh + 1vw);
  width: 40%;
  height: 80%;
  display: flex;
}

.page-module__OSLHOG__content p, .page-module__OSLHOG__wrapper p {
  text-wrap: wrap;
  font-size: calc(.5em + .4vw + .4vh);
}

.page-module__OSLHOG__form {
  flex-direction: column;
  align-items: center;
  gap: calc(1vw + 1vh);
  padding: 5px;
  display: flex;
  overflow-y: auto;
}

.page-module__OSLHOG__wrapper {
  flex-direction: column;
  display: flex;
}

.page-module__OSLHOG__contactInfo p {
  align-items: center;
  gap: 10px;
  display: flex;
}

.page-module__OSLHOG__line {
  display: none;
}

@media (orientation: portrait) {
  .page-module__OSLHOG__container {
    flex-direction: column;
    align-self: center;
    gap: 2%;
    height: 95%;
  }

  .page-module__OSLHOG__content {
    align-self: center;
    width: 60%;
    height: 50%;
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #fff3;
    border: #0000;
    border-radius: 10px;
  }

  .page-module__OSLHOG__line {
    background: linear-gradient(45deg, var(--violet-400), var(--aqua-400));
    border: #0000;
    width: 50%;
    height: 3px;
    margin: 0;
    display: inline;
  }
}


/* [project]/src/components/ImageWrapper/ImageWrapper.module.css [app-client] (css) */
.ImageWrapper-module__4Ijjwa__imageWrap {
  background: none;
  align-self: center;
}

.ImageWrapper-module__4Ijjwa__isRound {
  box-shadow: 5px 5px 20px var(--violet-900);
}

.ImageWrapper-module__4Ijjwa__isRound, .ImageWrapper-module__4Ijjwa__isRound img {
  border-radius: 50%;
}

.ImageWrapper-module__4Ijjwa__imageWrap img {
  object-fit: cover;
}


/* [project]/src/components/Input/input.module.css [app-client] (css) */
.input-module__aX0dDG__inputBox {
  text-align: left;
  width: 80%;
  color: var(--blue_gray-100);
  flex-direction: column;
  gap: 5px;
  display: flex;
}

.input-module__aX0dDG__inputBox input, .input-module__aX0dDG__inputBox textarea {
  color: var(--blue_gray-100);
  background: #ffffff1a;
  border: none;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.input-module__aX0dDG__inputBox textarea {
  resize: none;
  height: 10vh;
  font-family: sans-serif;
}


/* [project]/src/components/Button/button.module.css [app-client] (css) */
.button-module__OJPZRa__btn {
  background-color: var(--orange-cta);
  color: var(--blue_gray-800);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1em;
  text-decoration: none;
}


/* [project]/src/components/Title/title.module.css [app-client] (css) */
.title-module__9EsE3G__title {
  text-align: center;
  background: linear-gradient(45deg, var(--violet-200), var(--aqua-200));
  -webkit-text-fill-color: transparent;
  width: 100%;
  filter: drop-shadow(3px 3px 5px var(--aqua-900));
  background-clip: text;
  margin: 0;
}


/*# sourceMappingURL=src_f802cea4._.css.map*/