.line {
    margin-top: 15px;
    /* box-shadow: 5px 5px 5px var(--blue_gray-700); */
    width: 95%;
    height: 2px;
    border: transparent;
    background: linear-gradient(45deg, var(--violet-400), var(--aqua-400));
}