.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px var(--blue_gray-600);
    gap: 10px;
    width: 200px;
}

.project h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.project p {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project h2, .project p {
    margin: 0;
    width: calc(95%);
}