.container {
    color: var(--blue_gray-100);
}

.scrollable {
    max-height: 50vh;
    width: 100%;
}

.scrollable ul {
    padding: 0;
    margin: 0;
}

.project {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}