.btnBox {
  width: fit-content;
  align-items: center;
  display: flex;
  gap: calc(1vh + 1vw);
  padding-right: calc(1vh + 1vw);
}

.btnBox a {
  text-align: center;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo a{
  align-self: center;
  margin-left: calc(1vh + 1vw);
  background: linear-gradient(45deg, var(--aqua-200), var(--violet-200));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px var(--violet-900));
  font-size: calc(10px + 1vw + 1vh);
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 435px) and (min-height: 660px) {
  .btnBox {
    gap: 8px;
  }
}

@media (orientation: portrait) {
  .navbar {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 85%;
    background: linear-gradient(45deg, var(--violet-800), var(--aqua-800));
  }

  .logo a {
    font-size: 3em;
    margin: 0;
  }

  .btnBox {
    flex-direction: column;
    padding: 0;
  }

  .btnBox a p, .btnBox select{
    font-size: 1.5em;
    margin: 0;
  }
}
