.imageWrap {
    background: lime;
    border-radius: 50%;
    align-self: center;
    box-shadow: 5px 5px 20px var(--violet-900);
  }

  .myImg {
    border-radius: 50%;
    object-fit: cover;
    background: linear-gradient(45deg, var(--violet-300), var(--aqua-300));
  }