.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
}

.content {
    color: var(--blue_gray-100);
    width: 50%;
    height: 80%;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    /* margin-right: 15px; */
}

.content:hover {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.2);
  }

.content h1 {
    text-align: center;
    background: linear-gradient(45deg, var(--violet-200), var(--aqua-200));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 5px var(--aqua-900));
}

.content h2, .content h3 {
    text-shadow: 3px 3px 5px var(--aqua-900);
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
    }

    .content {
        width: 80%;
        height: 60%;
    }
}