.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
}

.content {
    color: white;
    width: 50%;
    height: 80%;
    overflow-y: hidden;
}

.content:hover {
    overflow-y: scroll;
}

h1 {
    text-align: center;
}