.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
}

.content {
    color: white;
    width: 50%;
    height: 80%;
    overflow-y: hidden;
    scrollbar-gutter: stable;
}

.content:hover {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 0.2px solid white;
  }

h1 {
    text-align: center;
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
    }

    .content {
        width: 80%;
        height: 60%;
    }
}